{% block body %}
    {{ form_start(form) }}
    <fieldset>
            <div class="form-group">
                {{ form_label(form.nombre) }}
                {{ form_widget(form.nombre) }}
            </div>
    </fieldset>

    <input type="submit" value="Guardar" />
    {{ form_end(form) }}
{% endblock %}
